header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.3rem 28rem;
    width:max-content;
    height: 1rem;
    background-color: brown;
}

/*header a{
    display: flex;
    text-decoration:  none;
    font-family:sans-serif;
    color:rgb(240, 226, 226);
    background-color: #000;
    margin-left: 45rem;
    margin-right: -43rem;
}*/