header{
    margin: 0.3rem;
    padding: 2rem;
    display: flex-box;
    background-color: #00BFFF;
}
header a{
    display: inline;
    text-decoration:  none;
    font-family:sans-serif;
    color:#000;
}